body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
button.link{
  background: none;
  color: white;
  border: none;
  margin: 0;
  padding: 3px;
  outline: none;
  outline-offset:0px;
}
